@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-width: 100vw;
  min-height: 100vh;
}
.ant-collapse-item {
  border-bottom: 1px solid #d9d9d9 !important;
}
.menuItem .ant-menu-item {
  width: 100% !important;
}
.menuItem .ant-menu-title-content {
  flex: none !important;
}
.ant-radio-button-wrapper {
  border-inline-start-width: 1px;
}
.ant-radio-button-wrapper:not(:first-child)::before {
  background-color: transparent;
}
